@charset "UTF-8";
/* CSS Document */
/* line 4, ../sass/basis.scss */
body, button, select, textarea, input, label, option, fieldset, legend {
  font-family: 寰蒋闆呴粦E\8F6F\96C5\9ED1,Tahoma,Verdana;
  font-size: 12px;
  line-height: 18px;
  color: #444;
}

/* line 5, ../sass/basis.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/basis.scss */
textarea {
  resize: none;
}

/* line 7, ../sass/basis.scss */
html {
  font-size: 62.5%;
}

/* line 8, ../sass/basis.scss */
body {
  background-color: #f6f6f6;
}

/* line 9, ../sass/basis.scss */
.clear {
  height: 1px;
  overflow: hidden;
  clear: both;
}

/* line 10, ../sass/basis.scss */
a, img {
  border: 0;
}

/* line 11, ../sass/basis.scss */
a {
  color: #666;
  text-decoration: none;
}
/* line 11, ../sass/basis.scss */
a:hover {
  color: #0053a6;
}

/* line 12, ../sass/basis.scss */
li {
  list-style-type: none;
}

/* line 13, ../sass/basis.scss */
.fl {
  float: left;
}

/* line 14, ../sass/basis.scss */
.fr {
  float: right;
}

/* line 15, ../sass/basis.scss */
.nf {
  clear: both;
}

/* line 16, ../sass/basis.scss */
.red {
  color: red;
  font-weight: bold;
}

/* line 17, ../sass/basis.scss */
.green {
  color: #00b500;
  font-weight: bold;
}

/* line 18, ../sass/basis.scss */
.ds {
  display: block;
}

/* line 19, ../sass/basis.scss */
.hid {
  overflow: hidden;
}

/* line 20, ../sass/basis.scss */
.clearfix {
  *zoom: 1;
}

/* line 21, ../sass/basis.scss */
.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
  font-size: 0;
}

/* line 22, ../sass/basis.scss */
.pl10 {
  padding-left: 1rem;
}

/* line 23, ../sass/basis.scss */
.pr10 {
  padding-right: 1rem;
}

/* line 24, ../sass/basis.scss */
.mt15 {
  margin-top: 1.5rem;
}

/*杈硅窛*/
/* line 26, ../sass/basis.scss */
.ma {
  margin: 0 auto;
}

/* line 27, ../sass/basis.scss */
.m0 {
  margin: 0px;
}

/* line 28, ../sass/basis.scss */
.m5 {
  margin: 5px;
}

/* line 29, ../sass/basis.scss */
.m8 {
  margin: 8px;
}

/* line 30, ../sass/basis.scss */
.ml0 {
  margin-left: 0;
}

/* line 31, ../sass/basis.scss */
.m10 {
  margin: 10px;
}

/* line 32, ../sass/basis.scss */
.mt0 {
  margin-top: 0px;
}

/* line 33, ../sass/basis.scss */
.mt2 {
  margin-top: 2px;
}

/* line 34, ../sass/basis.scss */
.mt3 {
  margin-top: 3px;
}

/* line 35, ../sass/basis.scss */
.mt5 {
  margin-top: 5px;
}

/* line 36, ../sass/basis.scss */
.mt6 {
  margin-top: 6px;
}

/* line 37, ../sass/basis.scss */
.mt8 {
  margin-top: 8px;
}

/* line 38, ../sass/basis.scss */
.mt10 {
  margin-top: 10px;
}

/* line 39, ../sass/basis.scss */
.mt15 {
  margin-top: 15px;
}

/* line 40, ../sass/basis.scss */
.mt20 {
  margin-top: 20px;
}

/* line 41, ../sass/basis.scss */
.mt30 {
  margin-top: 30px;
}

/* line 42, ../sass/basis.scss */
.mt40 {
  margin-top: 40px;
}

/* line 43, ../sass/basis.scss */
.mt50 {
  margin-top: 50px;
}

/* line 44, ../sass/basis.scss */
.mt80 {
  margin-top: 80px;
}

/* line 45, ../sass/basis.scss */
.mt90 {
  margin-top: 90px;
}

/* line 46, ../sass/basis.scss */
.mt100 {
  margin-top: 100px;
}

/* line 47, ../sass/basis.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 48, ../sass/basis.scss */
.mb8 {
  margin-bottom: 8px;
}

/* line 49, ../sass/basis.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 50, ../sass/basis.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 51, ../sass/basis.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 52, ../sass/basis.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 53, ../sass/basis.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 54, ../sass/basis.scss */
.mb60 {
  margin-bottom: 60px;
}

/* line 55, ../sass/basis.scss */
.ml2 {
  margin-left: 2px;
}

/* line 56, ../sass/basis.scss */
.ml3 {
  margin-left: 3px;
}

/* line 57, ../sass/basis.scss */
.ml5 {
  margin-left: 5px;
}

/* line 58, ../sass/basis.scss */
.ml8 {
  margin-left: 8px;
}

/* line 59, ../sass/basis.scss */
.ml10 {
  margin-left: 10px;
}

/* line 60, ../sass/basis.scss */
.ml13 {
  margin-left: 13px;
}

/* line 61, ../sass/basis.scss */
.ml15 {
  margin-left: 15px;
}

/* line 62, ../sass/basis.scss */
.ml20 {
  margin-left: 20px;
}

/* line 63, ../sass/basis.scss */
.ml30 {
  margin-left: 30px;
}

/* line 64, ../sass/basis.scss */
.ml40 {
  margin-left: 40px;
}

/* line 65, ../sass/basis.scss */
.ml50 {
  margin-left: 50px;
}

/* line 66, ../sass/basis.scss */
.ml60 {
  margin-left: 60px;
}

/* line 67, ../sass/basis.scss */
.ml80 {
  margin-left: 80px;
}

/* line 68, ../sass/basis.scss */
.ml70 {
  margin-left: 70px;
}

/* line 69, ../sass/basis.scss */
.ml100 {
  margin-left: 100px;
}

/* line 70, ../sass/basis.scss */
.ml135 {
  margin-left: 135px;
}

/* line 71, ../sass/basis.scss */
.ml300 {
  margin-left: 300px;
}

/* line 72, ../sass/basis.scss */
.ml400 {
  margin-left: 400px;
}

/* line 73, ../sass/basis.scss */
.mr0 {
  margin-right: 0;
}

/* line 74, ../sass/basis.scss */
.mr5 {
  margin-right: 5px;
}

/* line 75, ../sass/basis.scss */
.mr8 {
  margin-right: 8px;
}

/* line 76, ../sass/basis.scss */
.mr10 {
  margin-right: 10px;
}

/* line 77, ../sass/basis.scss */
.mr15 {
  margin-right: 15px;
}

/* line 78, ../sass/basis.scss */
.mr20 {
  margin-right: 20px;
}

/* line 79, ../sass/basis.scss */
.mr30 {
  margin-right: 30px;
}

/* line 80, ../sass/basis.scss */
.mr40 {
  margin-right: 40px;
}

/* line 81, ../sass/basis.scss */
.mr50 {
  margin-right: 50px;
}

/* line 82, ../sass/basis.scss */
.mr100 {
  margin-right: 100px;
}

/* line 83, ../sass/basis.scss */
.mr200 {
  margin-right: 200px;
}

/* line 84, ../sass/basis.scss */
.p5 {
  padding: 5px;
}

/* line 85, ../sass/basis.scss */
.p8 {
  padding: 8px;
}

/* line 86, ../sass/basis.scss */
.p10 {
  padding: 10px;
}

/* line 87, ../sass/basis.scss */
.p15 {
  padding: 15px;
}

/* line 88, ../sass/basis.scss */
.p20 {
  padding: 20px;
}

/* line 89, ../sass/basis.scss */
.p30 {
  padding: 30px;
}

/* line 90, ../sass/basis.scss */
.pt2 {
  padding-top: 2px;
}

/* line 91, ../sass/basis.scss */
.pt3 {
  padding-top: 3px;
}

/* line 92, ../sass/basis.scss */
.pt5 {
  padding-top: 5px;
}

/* line 93, ../sass/basis.scss */
.pt8 {
  padding-top: 8px;
}

/* line 94, ../sass/basis.scss */
.pt10 {
  padding-top: 10px;
}

/* line 95, ../sass/basis.scss */
.pt15 {
  padding-top: 15px;
}

/* line 96, ../sass/basis.scss */
.pt20 {
  padding-top: 20px;
}

/* line 97, ../sass/basis.scss */
.pt30 {
  padding-top: 30px;
}

/* line 98, ../sass/basis.scss */
.pt40 {
  padding-top: 40px;
}

/* line 99, ../sass/basis.scss */
.pt50 {
  padding-top: 50px;
}

/* line 100, ../sass/basis.scss */
.pt70 {
  padding-top: 70px;
}

/* line 101, ../sass/basis.scss */
.pt100 {
  padding-top: 100px;
}

/* line 102, ../sass/basis.scss */
.pb5 {
  padding-bottom: 5px;
}

/* line 103, ../sass/basis.scss */
.pb8 {
  padding-bottom: 8px;
}

/* line 104, ../sass/basis.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 105, ../sass/basis.scss */
.pb15 {
  padding-bottom: 15px;
}

/* line 106, ../sass/basis.scss */
.pb20 {
  padding-bottom: 20px;
}

/* line 107, ../sass/basis.scss */
.pb30 {
  padding-bottom: 30px;
}

/* line 108, ../sass/basis.scss */
.pb50 {
  padding-bottom: 50px;
}

/* line 109, ../sass/basis.scss */
.pb100 {
  padding-bottom: 100px;
}

/* line 110, ../sass/basis.scss */
.pl1 {
  padding-left: 1px;
}

/* line 111, ../sass/basis.scss */
.pl5 {
  padding-left: 5px;
}

/* line 112, ../sass/basis.scss */
.pl8 {
  padding-left: 8px;
}

/* line 113, ../sass/basis.scss */
.pl10 {
  padding-left: 10px;
}

/* line 114, ../sass/basis.scss */
.pl15 {
  padding-left: 15px;
}

/* line 115, ../sass/basis.scss */
.pl20 {
  padding-left: 20px;
}

/* line 116, ../sass/basis.scss */
.pl30 {
  padding-left: 30px;
}

/* line 117, ../sass/basis.scss */
.pl50 {
  padding-left: 50px;
}

/* line 118, ../sass/basis.scss */
.pl100 {
  padding-left: 100px;
}

/* line 119, ../sass/basis.scss */
.pl120 {
  padding-left: 120px;
}

/* line 120, ../sass/basis.scss */
.pr5 {
  padding-right: 5px;
}

/* line 121, ../sass/basis.scss */
.pr8 {
  padding-right: 8px;
}

/* line 122, ../sass/basis.scss */
.pr10 {
  padding-right: 10px;
}

/* line 123, ../sass/basis.scss */
.pr15 {
  padding-right: 15px;
}

/* line 124, ../sass/basis.scss */
.pr20 {
  padding-right: 20px;
}

/* line 125, ../sass/basis.scss */
.pr30 {
  padding-right: 30px;
}

/* line 126, ../sass/basis.scss */
.pr50 {
  padding-right: 50px;
}

/* line 127, ../sass/basis.scss */
.pr100 {
  padding-right: 100px;
}

/* line 128, ../sass/basis.scss */
.order_content .mb50 {
  margin-bottom: 5rem;
}

/* line 129, ../sass/basis.scss */
.jianbian, #nav .navlist, .onthebottom, .u-header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #eee));
  background: -webkit-linear-gradient(top, #f4f4f4 0, #eee 100%);
  background: linear-gradient(to bottom, #f4f4f4 0, #eee 100%);
}

/* line 130, ../sass/basis.scss */
.bottomshadow, #nav .navlist, .onthebottom {
  border-bottom: solid 1px #B3B3B3;
  -webkit-box-shadow: 0 1px 1px 0 #DFDFDF;
  box-shadow: 0 1px 1px 0 #DFDFDF;
}

/* line 131, ../sass/basis.scss */
.cartshadow, .cart_content .cartlist li, .addresslist, .voiceslist, .shopslist {
  min-height: 75px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #f2f2f2;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 132, ../sass/basis.scss */
.reduce {
  float: left;
  width: 3.5rem;
  height: 2.5rem;
  border: 0.1rem solid #ccc;
  border-right: none;
  cursor: pointer;
  background: url("../images/reduce.gif") center center no-repeat;
}

/* line 133, ../sass/basis.scss */
.itnums {
  float: left;
  width: 8rem;
  height: 2.5rem;
  border: 0.1rem solid #ccc;
  text-align: center;
  font-size: 1.4rem;
  color: #990000;
  font-weight: 800;
}

/* line 134, ../sass/basis.scss */
.add {
  float: left;
  width: 3.5rem;
  height: 2.5rem;
  border: 0.1rem solid #ccc;
  border-left: none;
  cursor: pointer;
  background: url("../images/add.gif") center center no-repeat;
}

/*主页样式*/
/* line 136, ../sass/basis.scss */
#nav {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background: #fafafa;
}
/* line 143, ../sass/basis.scss */
#nav .navlist {
  position: relative;
  height: 50px;
}
/* line 148, ../sass/basis.scss */
#nav .navlist li {
  float: left;
  margin: 0;
  height: 50px;
  width: 25%;
}
/* line 153, ../sass/basis.scss */
#nav .navlist li a {
  width: 100%;
  display: inline-block;
  height: 50px;
  border-right: 1px solid #EAEAEA;
  text-align: center;
}
/* line 156, ../sass/basis.scss */
#nav .navlist li a span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../images/icon/icon.png) no-repeat 0 -46px;
  background-size: 214px auto;
}
/* line 159, ../sass/basis.scss */
#nav .navlist li a .active {
  background-position: 0 0;
}
/* line 163, ../sass/basis.scss */
#nav .navlist #n_3 a {
  border-right: none;
}
/* line 165, ../sass/basis.scss */
#nav .navlist #n_3 a span {
  background-position: -101px -46px;
}
/* line 166, ../sass/basis.scss */
#nav .navlist #n_3 a .active {
  background-position: -101px 0;
}
/* line 171, ../sass/basis.scss */
#nav .navlist #n_2 a span {
  background-position: -161px -46px;
}
/* line 172, ../sass/basis.scss */
#nav .navlist #n_2 a .active {
  background-position: -161px 0;
}
/* line 175, ../sass/basis.scss */
#nav .navlist #n_1 {
  position: relative;
}
/* line 178, ../sass/basis.scss */
#nav .navlist #n_1 a span {
  background-position: -51px -46px;
}
/* line 179, ../sass/basis.scss */
#nav .navlist #n_1 a .active {
  background-position: -51px 0;
}
/* line 182, ../sass/basis.scss */
#nav .navlist #n_1 .cartnums {
  position: absolute;
  top: 2px;
  left: 60px;
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 9px;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

/* line 186, ../sass/basis.scss */
.indexslider {
  position: relative;
  top: 51px;
  left: 0;
  width: 100%;
  height: 200px;
  /* 商品列表样式*/
}
/* line 192, ../sass/basis.scss */
.indexslider #topSlider {
  height: 200px;
}
/* line 194, ../sass/basis.scss */
.indexslider #topSlider img {
  height: 200px;
  width: 100%;
  border: 0;
}
/* line 199, ../sass/basis.scss */
.indexslider #topSlider .topzhezhao {
  height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  background-color: #000;
  z-index: 999;
}
/* line 208, ../sass/basis.scss */
.indexslider #topSlider .topzhezhao a {
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: #15bd10;
  color: #fff;
  border-radius: 10px;
  display: block;
  text-align: center;
  font-size: 18px;
  margin-top: 7px;
  margin-right: 5px;
  float: right;
}
/* line 209, ../sass/basis.scss */
.indexslider #topSlider .topzhezhao .leftslidecontent {
  width: 200px;
  height: 45px;
  float: left;
}
/* line 210, ../sass/basis.scss */
.indexslider #topSlider .topzhezhao .leftslidecontent p {
  line-height: 20px;
  display: block;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  text-indent: 12px;
}
/* line 219, ../sass/basis.scss */
.indexslider #topSlider .topzhezhao .leftslidecontent p span {
  color: #15bd10;
}

/* line 226, ../sass/basis.scss */
.productul {
  position: relative;
  top: 60px;
  left: 0;
  width: 99%;
  overflow: hidden;
  margin: 0px auto 5px auto;
}
/* line 232, ../sass/basis.scss */
.productul ul {
  width: 100%;
}
/* line 233, ../sass/basis.scss */
.productul li {
  min-height: 125px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #f2f2f2;
  margin: 10px;
}
/* line 234, ../sass/basis.scss */
.productul li a {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 236, ../sass/basis.scss */
.productul li a .triangle-topleft {
  width: 0;
  height: 0;
  border-top: 60px solid #1aa818;
  border-right: 60px solid transparent;
  position: relative;
  z-index: 990;
  cursor: pointer;
}
/* line 239, ../sass/basis.scss */
.productul li a .rexiao {
  border-top-color: #d50806;
}
/* line 240, ../sass/basis.scss */
.productul li a .xiangou {
  border-top-color: #ff7301;
}
/* line 241, ../sass/basis.scss */
.productul li a .zhuanshu {
  border-top-color: #1aa818;
}
/* line 242, ../sass/basis.scss */
.productul li a .shuxing {
  position: relative;
  z-index: 999;
  transform: rotate(-45deg);
  color: #fff;
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  font-size: 14px;
  width: 40px;
  height: 40px;
  margin-top: -60px;
  display: block;
  padding-top: 5px;
  padding-left: 10px;
  cursor: pointer;
}
/* line 243, ../sass/basis.scss */
.productul li a .leftimages {
  width: 100px;
  height: 100px;
  margin-top: -35px;
}
/* line 244, ../sass/basis.scss */
.productul li a .leftimages img {
  width: 100px;
  birder: 0;
}
/* line 245, ../sass/basis.scss */
.productul li a .leftimages canvas {
  width: 100px;
  min-height: 100px;
  background: #fff url("../images/loading.gif") center center no-repeat;
  background-size: 15px auto;
}
/* line 248, ../sass/basis.scss */
.productul li a .productcontent {
  width: 64%;
  width: calc(100% - 100px);
  margin-top: -40px;
}
/* line 249, ../sass/basis.scss */
.productul li a .productcontent .ptitle {
  font-size: 16px;
  color: #4a534e;
  font-weight: bold;
  display: block;
  font-family: "Microsoft YaHei";
}
/* line 250, ../sass/basis.scss */
.productul li a .productcontent .pdes {
  font-size: 13px;
  color: #999;
  margin-top: 5px;
  display: block;
}
/* line 251, ../sass/basis.scss */
.productul li a .productcontent .pprice {
  margin-top: 10px;
  font-size: 14px;
  color: #4a4a4a;
}

/*商品详情样式*/
/* line 258, ../sass/basis.scss */
.recommendcontent {
  width: 99%;
  overflow: hidden;
  margin: 5rem auto 0.5rem auto;
}
/* line 260, ../sass/basis.scss */
.recommendcontent ul {
  width: 100%;
}
/* line 262, ../sass/basis.scss */
.recommendcontent ul li {
  min-height: 12.5rem;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0.5rem #ccc;
  -moz-box-shadow: 0 0 0.5rem #ccc;
  box-shadow: 0 0 0.5rem #ccc;
  border: 1px solid #f2f2f2;
  margin: 1rem;
}
/* line 263, ../sass/basis.scss */
.recommendcontent ul .buynumsli {
  min-height: 5rem;
  margin-top: -1rem;
  -moz-border-radius-bottomleft: 1rem;
  border-bottom-left-radius: 1rem;
  -moz-border-radius-bottomright: 1rem;
  border-bottom-right-radius: 1rem;
}
/* line 264, ../sass/basis.scss */
.recommendcontent ul .buynumsli .buylabel {
  font-size: 1.4rem;
  float: left;
  margin: 1.5rem 0.2rem 0rem 1rem;
  font-family: "Microsoft YaHei";
}
/* line 265, ../sass/basis.scss */
.recommendcontent ul .buynumsli .buynuminput {
  float: left;
  overflow: hidden;
  margin: 1.2rem 0 0 0.5rem;
}
/* line 266, ../sass/basis.scss */
.recommendcontent ul .buynumsli .buynuminput .reduce {
  float: left;
  width: 3.5rem;
  height: 2.5rem;
  border: 0.1rem solid #ccc;
  border-right: none;
  cursor: pointer;
  background: url("../images/reduce.gif") center center no-repeat;
}
/* line 267, ../sass/basis.scss */
.recommendcontent ul .buynumsli .buynuminput .itnums {
  float: left;
  width: 8rem;
  height: 2.5rem;
  border: 0.1rem solid #ccc;
  text-align: center;
  font-size: 1.4rem;
  color: #990000;
  font-weight: 800;
}
/* line 268, ../sass/basis.scss */
.recommendcontent ul .buynumsli .buynuminput .add {
  float: left;
  width: 3.5rem;
  height: 2.5rem;
  border: 0.1rem solid #ccc;
  border-left: none;
  cursor: pointer;
  background: url("../images/add.gif") center center no-repeat;
}
/* line 272, ../sass/basis.scss */
.recommendcontent ul .setyuanjiao {
  -moz-border-radius-topleft: 1rem;
  border-top-left-radius: 1rem;
  -moz-border-radius-topright: 1rem;
  border-top-right-radius: 1rem;
}
/* line 273, ../sass/basis.scss */
.recommendcontent ul .setyuanjiao .leftimages {
  width: 30%;
  height: 10rem;
  margin-top: 0.5rem;
  min-width: 10rem;
}
/* line 274, ../sass/basis.scss */
.recommendcontent ul .setyuanjiao .leftimages img {
  width: 100px;
  border: 0;
}
/* line 276, ../sass/basis.scss */
.recommendcontent ul .setyuanjiao .productcontent {
  width: 58%;
  margin-top: 1rem;
}
/* line 277, ../sass/basis.scss */
.recommendcontent ul .setyuanjiao .productcontent .ptitle {
  font-size: 1.6rem;
  color: #4a534e;
  font-weight: bold;
  display: block;
  font-family: "Microsoft YaHei";
}
/* line 278, ../sass/basis.scss */
.recommendcontent ul .setyuanjiao .productcontent .pdes {
  font-size: 1.3rem;
  color: #999;
  margin-top: 0.5rem;
  display: block;
}
/* line 279, ../sass/basis.scss */
.recommendcontent ul .setyuanjiao .productcontent .pprice {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #4a4a4a;
}
/* line 285, ../sass/basis.scss */
.recommendcontent .decorations {
  olor: #b6b6b6;
  overflow: hidden;
  background-color: #e7e7e7;
  -webkit-box-shadow: 0 0 0.5rem #ccc;
  -moz-box-shadow: 0 0 0.5rem #ccc;
  box-shadow: 0 0 0.5rem #ccc;
  border: 0.1rem solid #ccc;
  margin: 1rem;
  padding: 1.5rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  margin-bottom: 5rem;
}
/* line 286, ../sass/basis.scss */
.recommendcontent .decorations .dtitle {
  color: #939494;
  font-size: 1.4rem;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 287, ../sass/basis.scss */
.recommendcontent .decorations p {
  text-indent: 2em;
  line-height: 2.3rem;
}
/* line 288, ../sass/basis.scss */
.recommendcontent .decorations img {
  border: 0;
  width: 100%;
}

/* line 293, ../sass/basis.scss */
.addcart {
  width: 100%;
  left: 0px;
  position: fixed;
  bottom: 0px;
  z-index: 10000;
  margin: 0 auto;
  display: block;
}
/* line 294, ../sass/basis.scss */
.addcart .addcartbtn {
  width: 98%;
  background-color: #28c728;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#18b218), to(#28c728));
  background-image: -webkit-linear-gradient(top, #18b218, #28c728);
  background-image: linear-gradient(to bottom, #18b218, #28c728);
  display: block;
  text-align: center;
  height: 4rem;
  line-height: 4rem;
  border: 0.1rem solid #31b231;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 0 auto;
}

/* line 297, ../sass/basis.scss */
.loaddiv {
  width: 100%;
  height: 100px;
  background: #fff url("../images/loading.gif") no-repeat center center;
  background-size: 18px 18px;
  display: none;
}

/* line 298, ../sass/basis.scss */
#flydiv {
  width: 50px;
  height: 50px;
  padding: 2px;
  background: #fff;
  border: solid 5px #e54144;
  overflow: hidden;
  position: absolute;
  z-index: 10000;
  float: left;
}

/*购物车样式*/
/* line 301, ../sass/basis.scss */
.cart_content {
  margin: 0 auto;
  min-height: 300px;
  position: relative;
  width: 99%;
  top: 50px;
  left: 0;
}
/* line 303, ../sass/basis.scss */
.cart_content .null_shopping {
  text-align: center;
  color: #ccc;
}
/* line 305, ../sass/basis.scss */
.cart_content .null_shopping .cart_pic {
  background: url(../images/cart_pic.png) no-repeat center;
  height: 100px;
}
/* line 306, ../sass/basis.scss */
.cart_content .null_shopping h4 {
  text-indent: 1rem;
  font-size: 1.8rem;
  margin: 1rem 0;
}
/* line 308, ../sass/basis.scss */
.cart_content .null_shopping p a.enter {
  line-height: 30px;
  width: auto;
  display: inline-block;
  background: none;
  color: #999;
  padding: 0.5rem;
  background-color: #fafafa;
  font-size: 1.5rem;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}
/* line 311, ../sass/basis.scss */
.cart_content .cartlist {
  width: 100%;
}
/* line 313, ../sass/basis.scss */
.cart_content .cartlist li {
  margin: 1rem;
}
/* line 316, ../sass/basis.scss */
.cart_content .cartlist li a {
  display: block;
  overflow: hidden;
  border-bottom: 1px dashed #e7e7e7;
}
/* line 318, ../sass/basis.scss */
.cart_content .cartlist li a span {
  display: block;
  overflow: hidden;
  float: left;
}
/* line 320, ../sass/basis.scss */
.cart_content .cartlist li a span img {
  width: 50px;
}
/* line 322, ../sass/basis.scss */
.cart_content .cartlist li a span.carttitle {
  font-family: "Microsoft YaHei";
  font-size: 1.4rem;
  font-weight: bold;
}
/* line 326, ../sass/basis.scss */
.cart_content .cartlist li .productoperate {
  display: block;
  overflow: hidden;
  margin-bottom: 0.5rem;
  border-bottom: 1px dashed #e7e7e7;
  padding-bottom: 0.5rem;
}
/* line 328, ../sass/basis.scss */
.cart_content .cartlist li .productoperate .buylabel {
  font-size: 1.4rem;
  float: left;
  margin: 1.5rem 1rem 0 2rem;
  font-family: "Microsoft YaHei";
}
/* line 331, ../sass/basis.scss */
.cart_content .cartlist li .productoperate .buynuminput {
  float: left;
  overflow: hidden;
  margin: 1.2rem 0 0 1.5rem;
}
/* line 333, ../sass/basis.scss */
.cart_content .cartlist li .productoperate .buynuminput span.delbtn {
  width: 20px;
  height: 24px;
  float: left;
  background: url("../images/del.png") center center no-repeat;
  margin-left: 30px;
  background-size: contain;
  cursor: pointer;
}
/* line 337, ../sass/basis.scss */
.cart_content .cartlist li:last-child {
  margin-bottom: 60px;
}

/* line 341, ../sass/basis.scss */
.onthebottom {
  width: 100%;
  left: 0px;
  position: fixed;
  bottom: 0px;
  height: 50px;
  z-index: 10000;
  margin: 0 auto;
  display: block;
  background: #f4f4f4;
  border-top: 1px solid #B3B3B3;
}
/* line 345, ../sass/basis.scss */
.onthebottom .clearcart {
  width: 45px;
  float: left;
  background: url("../images/del.png") left center no-repeat;
  padding-left: 30px;
  font-size: 14px;
  color: #0e69b6;
  height: 30px;
  margin-top: 5px;
  padding-top: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}
/* line 346, ../sass/basis.scss */
.onthebottom .totalprice {
  float: left;
  margin: 15px 0px 0px 5px;
  font-size: 1.4rem;
}
/* line 347, ../sass/basis.scss */
.onthebottom .jiesuanbtn {
  margin-top: 10px;
  margin-right: 5px;
  float: right;
  font-size: 14px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #28c728;
  text-align: center;
  border: 1px solid #31b231;
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}

/* line 354, ../sass/basis.scss */
.addresslist, .voiceslist, .shopslist {
  margin: 1rem;
  position: relative;
  top: 55px;
  left: 0;
}

/* line 355, ../sass/basis.scss */
.order_content {
  margin: 0 auto;
  min-height: 300px;
  position: relative;
  width: 99%;
}

/* line 356, ../sass/basis.scss */
.add_operate {
  font-size: 16px;
  position: relative;
  left: 0;
  top: 55px;
}

/* line 357, ../sass/basis.scss */
.add_operate .enter {
  width: 100%;
  background-color: #28c728;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#18b218), to(#28c728));
  background-image: -webkit-linear-gradient(top, #18b218, #28c728);
  background-image: linear-gradient(to bottom, #18b218, #28c728);
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #31b231;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 5px auto;
}

/* line 358, ../sass/basis.scss */
.add_operate .enter:hover {
  background-color: #3ede30;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3ede30), to(#3ede30));
  background-image: -webkit-linear-gradient(top, #18b218, #3ede30);
  background-image: linear-gradient(to bottom, #18b218, #3ede30);
}

/* line 359, ../sass/basis.scss */
.add_title {
  color: #666;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 8px;
}

/* line 360, ../sass/basis.scss */
.address_item, .fill_in_content, .voiceinfo {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0px 10px 10px;
}

/* line 361, ../sass/basis.scss */
.address_item li {
  line-height: 25px;
}

/* line 362, ../sass/basis.scss */
.radio {
  float: left;
  width: 20px;
}

/* line 363, ../sass/basis.scss */
.address_item li.name, .address_item li.mobile {
  text-indent: 20px;
  clear: both;
}

/* line 364, ../sass/basis.scss */
#order_form .message {
  display: block;
}

/* line 365, ../sass/basis.scss */
#order_form #postscript {
  width: 95%;
  padding: 2px;
}

/* line 366, ../sass/basis.scss */
.receive_add li.fashion, .receive_add li.pay {
  float: left;
}

/* line 367, ../sass/basis.scss */
.address_item {
  border-bottom: 1px dashed #ddd;
}

/* line 368, ../sass/basis.scss */
.address_item:last-child {
  border-bottom: none;
}

/* line 369, ../sass/basis.scss */
.new_address {
  border-bottom: none;
}

/* line 370, ../sass/basis.scss */
#address_form .text {
  height: 40px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-indent: 10px;
  width: 99%;
}

/* line 371, ../sass/basis.scss */
#address_form select {
  margin-left: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 38px;
  margin: 5px 0;
  width: 78px;
}

/* line 372, ../sass/basis.scss */
.fill_in_content, .voiceinfo {
  padding: 10px;
  margin-right: 15px;
  background-color: #f2f2f2;
}

/* line 373, ../sass/basis.scss */
.voiceinfo {
  margin-top: 0px;
}

/* line 374, ../sass/basis.scss */
.thevioceselect {
  width: 95%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px 0px 0px 0px;
}

/* line 375, ../sass/basis.scss */
.voicetait {
  width: 40%;
  height: 35px;
  border: 1px solid #ddd;
}

/* line 376, ../sass/basis.scss */
.voiceinput {
  width: 45%;
  height: 30px;
  margin-left: 0.5em;
  border: 1px solid #ddd;
}

/* line 377, ../sass/basis.scss */
.shoptitles {
  background-color: #eeeeee;
  color: #666;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-weight: bold;
}

/* line 378, ../sass/basis.scss */
.shopproductlist {
  height: 50px;
}

/* line 379, ../sass/basis.scss */
.shopproductlist td {
  text-align: center;
  border-right: #EDEDED 1px solid;
  height: 50px;
  border-bottom: #EDEDED 1px solid;
}

/* line 380, ../sass/basis.scss */
.shopproductlist td:last-child {
  border-right: none;
}

/* line 381, ../sass/basis.scss */
.shopslist textarea {
  width: 90%;
  margin-left: 20px;
  border: 1px solid #ddd;
}

/* line 382, ../sass/basis.scss */
.confirmbtn {
  width: 100%;
  left: 0px;
  position: fixed;
  bottom: 0px;
  z-index: 10000;
  margin: 0 auto;
  display: block;
}

/* line 383, ../sass/basis.scss */
.confirmbtn_b {
  width: 98%;
  background-color: #28c728;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#18b218), to(#28c728));
  background-image: -webkit-linear-gradient(top, #18b218, #28c728);
  background-image: linear-gradient(to bottom, #18b218, #28c728);
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #31b231;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
}

/* line 385, ../sass/basis.scss */
.confirmbtn_b:hover {
  background-color: #3ede30;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3ede30), to(#3ede30));
  background-image: -webkit-linear-gradient(top, #18b218, #3ede30);
  background-image: linear-gradient(to bottom, #18b218, #3ede30);
}

/* line 386, ../sass/basis.scss */
.successp {
  text-indent: 20px;
  margin-top: 10px;
  line-height: 25px;
  padding-left: 5px;
}

/* line 387, ../sass/basis.scss */
.huodao {
  height: 38px;
  min-width: 150px;
  background: url(../images/huodao.png) 45px center no-repeat;
}

/* line 388, ../sass/basis.scss */
.userinfo {
  width: 99%;
  overflow: hidden;
  margin: 10px auto;
}

/* line 389, ../sass/basis.scss */
.nicheng {
  color: #f9a00a;
  font-size: 14px;
}

/* line 390, ../sass/basis.scss */
.contentlist {
  height: 60px;
  width: 90%;
  padding-right: 30px;
  border: 1px solid #f2f2f2;
  border-right: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: #666;
  background: url("../images/goforword.png") right center no-repeat;
}

/* line 391, ../sass/basis.scss */
.contentlist:last-child {
  border-bottom: none;
}

/* line 392, ../sass/basis.scss */
.userinfo {
  margin-top: 50px;
}

/* line 393, ../sass/basis.scss */
.userlist .addresscontent {
  min-height: 75px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #f2f2f2;
  margin: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 395, ../sass/basis.scss */
.addressinfo {
  margin-top: 50px;
}

/* line 396, ../sass/basis.scss */
#address_add .text {
  height: 40px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-indent: 10px;
  width: 99%;
}

/* line 397, ../sass/basis.scss */
#address_add select {
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 38px;
  margin: 5px 0;
  width: 95px;
}

/* line 398, ../sass/basis.scss */
.addresscontent {
  padding: 10px;
  margin-right: 15px;
}

/* line 399, ../sass/basis.scss */
.submit_address {
  width: 100%;
  background-color: #28c728;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#18b218), to(#28c728));
  background-image: -webkit-linear-gradient(top, #18b218, #28c728);
  background-image: linear-gradient(to bottom, #18b218, #28c728);
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #31b231;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 5px auto;
}

/* line 400, ../sass/basis.scss */
.submit_address:hover {
  background-color: #3ede30;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3ede30), to(#3ede30));
  background-image: -webkit-linear-gradient(top, #18b218, #3ede30);
  background-image: linear-gradient(to bottom, #18b218, #3ede30);
}

/* line 401, ../sass/basis.scss */
.op_address_list {
  background: #ffffff;
  margin: 0 10px;
}

/* line 402, ../sass/basis.scss */
.op_address_list li {
  padding-top: 15px;
  margin: 10px 0;
  font-size: 15px;
  color: #333;
  border: 1px solid #eaeaea;
}

/* line 403, ../sass/basis.scss */
.op_address_list li.no_address {
  border: none;
  color: #cacaca;
  background: #f6f6f6;
  text-align: center;
}

/* line 404, ../sass/basis.scss */
.op_address_list li p {
  overflow: hidden;
  padding-left: 15px;
}

/* line 405, ../sass/basis.scss */
.op_address_list .address_action {
  font-size: 14px;
}

/* line 406, ../sass/basis.scss */
.op_address_list li p span.edit {
  border-right: 1px solid #eaeaea;
}

/* line 407, ../sass/basis.scss */
.op_address_list li p em {
  font-style: normal;
}

/* line 408, ../sass/basis.scss */
.op_address_list li p span {
  display: inline-block;
  float: left;
  width: 48%;
  text-align: center;
}

/* line 409, ../sass/basis.scss */
.op_address_list li p span a {
  display: block;
  color: #666;
  margin: 0 10px;
  padding: 5px 0;
}

/* line 410, ../sass/basis.scss */
.op_address_list li p.new_line {
  border-bottom: 1px solid #eaeaea;
}

/* line 411, ../sass/basis.scss */
.edit_icon {
  display: inline-block;
  background: url(../images/edit.png);
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  vertical-align: -1px;
}

/* line 412, ../sass/basis.scss */
.delete_icon {
  display: inline-block;
  background: url(../images/del.png);
  background-size: contain;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: -1px;
}

@media only screen and (max-width: 400px) {
  /* line 414, ../sass/basis.scss */
  #address_add select {
    width: 90px;
  }
}
@media only screen and (max-width: 350px) {
  /* line 417, ../sass/basis.scss */
  #address_add select {
    width: 85px;
  }
}
@media only screen and (max-width: 340px) {
  /* line 420, ../sass/basis.scss */
  #address_add select {
    width: 75px;
  }
}
@media only screen and (max-width: 300px) {
  /* line 424, ../sass/basis.scss */
  #address_add select {
    width: 65px;
  }
}
@media only screen and (max-width: 280px) {
  /* line 427, ../sass/basis.scss */
  #address_add select {
    width: 50px;
  }
}
/* line 429, ../sass/basis.scss */
.themeblue, .topcenter {
  background-color: #78b1f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2764b0), to(#78b1f8));
  background-image: -webkit-linear-gradient(top, #2764b0, #78b1f8);
  background-image: linear-gradient(to bottom, #2764b0, #78b1f8);
}

/* line 430, ../sass/basis.scss */
.themered {
  background-color: #f34;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f34), to(#FD8C84));
  background-image: -webkit-linear-gradient(top, #f34, #FD8C84);
  background-image: linear-gradient(to bottom, #f34, #FD8C84);
}

/* line 431, ../sass/basis.scss */
.topcenter {
  height: 120px;
  width: 100%;
  display: block;
}

/* line 432, ../sass/basis.scss */
.myorder {
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 50px;
}

/* line 433, ../sass/basis.scss */
.userhead {
  float: left;
  margin: 30px 10px 0px 30px;
  width: 68px;
}

/* line 434, ../sass/basis.scss */
.userhead img {
  width: 68px;
  height: 68px;
  border-radius: 34px;
}

/* line 435, ../sass/basis.scss */
.nipic {
  float: left;
  margin: 38px 0px 0px  10px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

/* line 436, ../sass/basis.scss */
.dingd {
  color: #f8cd71;
  margin-top: 12px;
}

/* line 437, ../sass/basis.scss */
.buyer_stat {
  overflow: hidden;
}

/* line 438, ../sass/basis.scss */
.buyer_stat li {
  background: #f2f2f2;
  float: left;
  width: 25%;
  height: 44px;
  line-height: 24px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
}

/* line 439, ../sass/basis.scss */
.buyer_stat li a {
  height: 44px;
  display: block;
  color: #333333;
}

/* line 440, ../sass/basis.scss */
.buyer_stat li span, .buyer_stat li a {
  line-height: 44px;
}

/* line 441, ../sass/basis.scss */
.buyer_stat li.btn_2 a {
  border-left: 1px solid #ccc;
}

/* line 442, ../sass/basis.scss */
.buyer_stat li.btn_3 a {
  border-left: 1px solid #ccc;
}

/* line 443, ../sass/basis.scss */
.buyer_stat li.btn_4 a {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* line 444, ../sass/basis.scss */
.buyer_stat li span {
  display: none;
  display: block;
  height: 44px;
  border-left: 1px solid #ccc;
}

/* line 445, ../sass/basis.scss */
.buyer_stat li.active {
  border-bottom: 0px;
  background: none;
}

/* line 446, ../sass/basis.scss */
.buyer_stat li.active a {
  display: none;
}

/* line 447, ../sass/basis.scss */
.bgn {
  background: none;
}

/*订单列表*/
/* line 451, ../sass/basis.scss */
.order_form {
  border-radius: 5px;
  border: 1px solid #aaa;
  margin: 10px;
  padding: 15px;
  font-size: 14px;
  color: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background: -moz-linear-gradient(top, #fff, #ddd);
  box-shadow: 0.1em 0.1em 0.1em #ccc inset;
}

/* line 452, ../sass/basis.scss */
.order_form .con {
  margin: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
}

/* line 453, ../sass/basis.scss */
.order_form .con p {
  float: left;
  line-height: 25px;
  margin: 5px 5px 0 0;
}

/* line 454, ../sass/basis.scss */
.order_form .con p.ware_text {
  float: none;
}

/* line 455, ../sass/basis.scss */
.order_form .con p.price span, div.handle #order39_order_amount {
  color: #f34;
}

/* line 456, ../sass/basis.scss */
.null_order {
  text-align: center;
  color: #ccc;
  margin-top: 25px;
}

/* line 457, ../sass/basis.scss */
.null_order h4 {
  text-indent: 10px;
  font-size: 18px;
  margin: 10px 0;
}

/* line 458, ../sass/basis.scss */
.null_order .order_pic {
  background: url(../images/order_pic.png) no-repeat center;
  height: 100px;
  background-size: contain;
}

/* line 459, ../sass/basis.scss */
.handle a {
  margin-right: 5px;
}

/* line 460, ../sass/basis.scss */
.order_form img {
  height: 60px;
}

/*订单详情*/
/* line 463, ../sass/basis.scss */
.particular_wrap {
  margin: 15px;
}

/* line 464, ../sass/basis.scss */
.particular_wrap dl {
  margin: 10px 0;
}

/* line 465, ../sass/basis.scss */
.particular_wrap .ware_line {
  margin: 10px 0;
  color: #333;
  border: 1px solid #EAEAEA;
  background-color: #FFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0 5px 15px;
}

/* line 466, ../sass/basis.scss */
.particular_wrap dl {
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid #eaeaea;
  padding: 10px;
  color: #666;
  border: 1px solid #EAEAEA;
  background-color: #FFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

/* line 467, ../sass/basis.scss */
.particular_wrap dl h2, .particular .particular_wrap dl h3 {
  font-weight: normal;
  color: #333;
}

/* line 468, ../sass/basis.scss */
.particular_wrap dl dt {
  min-width: 70px;
  float: left;
  padding-top: 5px;
  height: auto;
}

/* line 469, ../sass/basis.scss */
.particular_wrap .til_font {
  font-size: 16px;
  color: #333;
  float: none;
  margin-bottom: 6px;
}

/* line 470, ../sass/basis.scss */
.particular_wrap dl dd {
  padding-left: 70px;
  min-height: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: visible;
}

/* line 471, ../sass/basis.scss */
.ware .ware_list {
  min-height: 60px;
  border-bottom: 1px dashed #ddd;
}

/* line 472, ../sass/basis.scss */
.ware .ware_list strong, .transportation span, .transportation b {
  color: #f34;
}

/* line 473, ../sass/basis.scss */
.ware .ware_pic, .ware .ware_text {
  float: left;
}

/* line 474, ../sass/basis.scss */
.ware .ware_text {
  margin: 0px 0px 2px 10px;
}

/* line 475, ../sass/basis.scss */
.ware_pic img {
  width: 50px;
}

/* line 476, ../sass/basis.scss */
.order_detail_list, .transportation, .fapiao {
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0 5px 15px;
  margin: 15px;
}

/* line 487, ../sass/basis.scss */
.u-header {
  box-shadow: 0 1px 3px #ccc;
  height: 46px;
  font-size: 1.8rem;
  text-align: center;
  line-height: 46px;
  position: relative;
  z-index: 200;
}

/* line 488, ../sass/basis.scss */
.uc_return {
  position: relative;
  height: 46px;
  overflow: hidden;
}

/* line 489, ../sass/basis.scss */
.uc_return_l {
  position: absolute;
  left: 12px;
  height: 46px;
  width: 40px;
  background: url(../images/return.png) no-repeat left center;
  background-size: 13px 21px;
  cursor: pointer;
}

/* line 490, ../sass/basis.scss */
.uc_return_r {
  position: absolute;
  right: 12px;
  height: 46px;
  width: 40px;
  line-height: 46px;
  font-size: 1.5rem;
}

/* line 491, ../sass/basis.scss */
.uc_return_r a {
  display: block;
  height: 46px;
}

/* line 492, ../sass/basis.scss */
.uc_return_c {
  float: left;
  width: 100%;
}

/* line 493, ../sass/basis.scss */
.logging ul {
  margin: 22px 0;
  font-size: 1.4rem;
  line-height: 23px;
}

/* line 494, ../sass/basis.scss */
.logging ul li {
  overflow: hidden;
  position: relative;
}

/* line 495, ../sass/basis.scss */
.logging ul li s {
  width: 24px;
  height: 34px;
  display: inline-block;
  margin-right: 15px;
  background: url(../images/head_gray.png) no-repeat 0 center;
  background-size: 24px auto;
  vertical-align: middle;
}

/* line 496, ../sass/basis.scss */
.logging ul li input {
  border: none;
  line-height: 34px;
  font-size: 1.4rem;
  width: 80%;
  width: calc(100% - 50px);
}

/* line 497, ../sass/basis.scss */
.logging ul li:nth-of-type(2) s {
  background: url(../images/uc_logging_password.png) no-repeat center center;
  background-size: 18px auto;
}

/* line 498, ../sass/basis.scss */
.register {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* line 499, ../sass/basis.scss */
.register a {
  color: #fff;
  font-size: 1.6rem;
}

/* line 500, ../sass/basis.scss */
.find_paw {
  padding-left: 10px;
  font-size: 1.2rem;
}

/* line 501, ../sass/basis.scss */
.find_paw a {
  color: #9c9c9c;
}

/* line 502, ../sass/basis.scss */
.btn_wrap span.current {
  background: #cb4037;
  color: #fff;
}

/* line 503, ../sass/basis.scss */
.btn {
  display: block;
  line-height: 46px;
  background: #28c728;
  border-radius: 3px;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  width: 95%;
  margin: 10px auto;
}

/* line 504, ../sass/basis.scss */
.quick_register {
  padding: 0 10px;
}

/* line 505, ../sass/basis.scss */
.quick_register div {
  border-top: 1px solid #eee;
  text-align: center;
  padding-top: 16px;
}

/* line 506, ../sass/basis.scss */
.quick_register div a {
  color: #28c728;
  font-size: 1.4rem;
}

/* line 507, ../sass/basis.scss */
.logging ul li s.warn {
  position: absolute;
  right: 12px;
  background: url(../images/warn.png) no-repeat 0 center;
  background-size: 20px 20px;
  margin-right: 0;
}
