/*
Error: File to import not found or unreadable: compass/reset.
       Load path: F:/毕业设计/微商城/wsc_pro/public/sass
        on line 6 of sass/sass/screen.scss

1: /* Welcome to Compass.
2:  * In this file you should write your main styles. (or centralize your imports)
3:  * Import this file using the following HTML or equivalent:
4:  * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> *\/
5: 
6: @import "compass/reset";

Backtrace:
sass/sass/screen.scss:6
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/import_node.rb:67:in `rescue in import'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/import_node.rb:45:in `import'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/import_node.rb:28:in `imported_file'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/import_node.rb:37:in `css_import?'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `map'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:161:in `visit'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:10:in `visit'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/root_node.rb:36:in `css_tree'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:294:in `watch'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/plugin.rb:109:in `method_missing'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:51:in `process_result'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/exec/base.rb:52:in `parse'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/lib/sass/exec/base.rb:19:in `parse!'
E:/Ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.6/bin/sass:13:in `<top (required)>'
E:/Ruby/Ruby22-x64/bin/sass:23:in `load'
E:/Ruby/Ruby22-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: compass/reset.\A        Load path: F:/毕业设计/微商城/wsc_pro/public/sass\A         on line 6 of sass/sass/screen.scss\A \A 1: /* Welcome to Compass.\A 2:  * In this file you should write your main styles. (or centralize your imports)\A 3:  * Import this file using the following HTML or equivalent:\A 4:  * <link href=\"/stylesheets/screen.css\" media=\"screen, projection\" rel=\"stylesheet\" type=\"text/css\" /> */\A 5: \A 6: @import \"compass/reset\";"; }
